body {
	font-family: Arial, sans-serif;
}
.main-layout {
	width: 920px;
	margin: 0 auto;
	padding: 20px;
	background: #ededed;
}

.news__item {
	margin-bottom: 10px;
	padding: 10px;
	background: #fdfdfd;
}
.news__item__title {
	margin-bottom: 8px;
	padding-top: 8px;
}
.news__item__title__link {
	font-size: 16px;
	color: #0061b4;
	text-decoration: none;
}
.news__item__title__link:hover {
	text-decoration: underline;
	cursor: pointer;
}
.link {
	font-size: 16px;
	color: #0061b4;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}
.description {
	margin: 15px 0;
}