<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
		<div class="main-layout">
			<h1 class="title">Awesome news</h1>
			<div class="news">
				{% for item in news %}
					<div class="news__item">
						<div class="news__item__title">
							<a class="news__item__title__link">{{ item['title'] }}</a>
						</div>
						<div class="news__item__description">
							{{ item['description'] }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>