<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
		<div class="main-layout">
			<h1 class="title">Awesome news</h1>
			<div class="news">
				<div class="news__item">
					<div class="news__item__title">
						<a class="news__item__title__link">Тестовая новость</a>
					</div>
					<div class="news__item__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, eos, odio, illum ab a ea modi placeat adipisci quidem autem natus similique eius dolorum beatae architecto officia animi quisquam saepe.
					</div>
				</div>
				<div class="news__item">
					<div class="news__item__title">
						<a class="news__item__title__link">Тестовая новость</a>
					</div>
					<div class="news__item__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, eos, odio, illum ab a ea modi placeat adipisci quidem autem natus similique eius dolorum beatae architecto officia animi quisquam saepe.
					</div>
				</div>
				<div class="news__item">
					<div class="news__item__title">
						<a class="news__item__title__link">Тестовая новость</a>
					</div>
					<div class="news__item__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, eos, odio, illum ab a ea modi placeat adipisci quidem autem natus similique eius dolorum beatae architecto officia animi quisquam saepe.
					</div>
				</div>
				<div class="news__item">
					<div class="news__item__title">
						<a class="news__item__title__link">Тестовая новость</a>
					</div>
					<div class="news__item__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, eos, odio, illum ab a ea modi placeat adipisci quidem autem natus similique eius dolorum beatae architecto officia animi quisquam saepe.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>