<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
		<div class="main-layout">
			<h1 class="title">{{ news.title }}</h1>
			<div class="description">{{ news.description }}</div>
			<a class="link" href="{{ url_for('news') }}">go back</a>
		</div>
	</body>
</html>